<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>caoayu-在线邮件系统</title>
    <%= stylesheetTag("buffalo.css") %>
    <%= stylesheetTag("bootstrap.min.css") %>
    
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  
  </head>
  <body>
    <%= partial("errors.html") %>
    <div class="container">
      <%= partial("flash.html") %>
      <%= yield %>
    </div>

    <%= javascriptTag("jquery-3.5.1.slim.min.js") %>
    <%= javascriptTag("popper.min.js") %>
    <%= javascriptTag("bootstrap.min.js") %>
  </body>
</html>
