<div class="row mt-3 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-header">
                <h3>发送邮件</h3>
            </div>
            <div class="card-body">
                <form action="<%= emailPath() %>" method="POST" novalidate>
                    <%= csrf() %>
                    <%= if(next_time){ %>
                    <input type="hidden" name="next_time" value="<%= next_time %>">
                    <% } %>
                    <div class="form-group">
                        <label for="email">你的邮箱地址</label>
                        <input type="email" name="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="content">发送内容</label>
                        <textarea name="content"  class="form-control" id="content"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">发送</button>
                </form>
                <a href="https://github.com/ayuayue/golang_email">邮箱系统源码 </a>
            </div>
        </div>
    </div>
</div>